<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/hero-section') %>
        <%- include('partials/advantages') %>
        <%- include('partials/services') %>
        <%- include('partials/demonstration') %>
        <%- include('partials/contact') %>
        <%- include('partials/footer') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>